<h1>Welcome</h1>

<p>Welcome to this cross-platform sample application.<br>
  It shows various aspects of Angular-based applications developed for cross-platforms scenarios.</p>


<h2>Feature list</h2>

<ul>
  <li><a target="_blank" href="https://angular.io/">Angular</a></li>
  <li><a target="_blank" href="https://cli.angular.io/">Angular CLI</a></li>
  <li>Real responsive and adaptive menu/sidebar/tabbar - heavily inspired by <a target="_blank" href="http://scottjensen.design/2016/04/designing-an-alternative-to-the-hamburger-menu/">Scott Jensen</a></li>
  <li><a target="_blank" href="https://cordova.apache.org/">Cordova</a> for mobile apps</li>
  <li><a target="_blank" href="https://electron.atom.io/">Electron</a> for desktop applications</li>
</ul>

<h2>Info</h2>

<ul>
  <li>Author: Manuel Rauber, Christian Weyer, Thinktecture AG (<a href="mailto:office@thinktecture.com">office@thinktecture.com</a>)</li>
</ul>
